@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
  /* border: 1px solid gray !important; */
}
body,
html,
#root {
  overflow-x: hidden !important;
  width: 100vw !important;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

::-webkit-scrollbar {
  @apply w-1;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/30 max-w-[5px] rounded-xl;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/50;
}
::-webkit-scrollbar-track {
  @apply p-[2px] bg-light/30 shadow-neomorphism;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* placeholder */

body {
  @apply bg-light dark:bg-dark text-writing dark:text-white;
}

.btn {
  @apply inline-flex items-center px-6 py-3 font-bold text-white border-b-2 outline-none cursor-pointer bg-primary/90 dark:bg-tertiary rounded-full w-fit dark:border-primary/30 hover:bg-primary dark:hover:bg-primary;
}
.input-field {
  @apply relative p-4 transition-all dark:shadow-none shadow-[-3px_-3px_7px_#ffffff_,_3px_3px_5px_#ceced1] focus:shadow-neomorphism font-medium border-none rounded-full outline-none bg-light dark:bg-tertiary placeholder:text-secondary text-writing dark:text-white;
}

.heroHeadText {
  @apply font-black text-writing dark:text-white lg:text-[60px] sm:text-[40px] xs:text-[40px] text-[30px] lg:leading-[80px] mt-2;
}
.heroSubText {
  @apply text-writing/80 dark:text-[#dfd9ff] font-medium lg:text-[26px] sm:text-[23px] xs:text-[18px] text-[16px] lg:leading-[40px];
}

.sectionHeadText {
  @apply text-dark dark:text-white font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px];
}
.sectionSubText {
  @apply sm:text-[18px] text-[14px] dark:text-secondary uppercase tracking-wider;
}

.paddingX {
  @apply px-6 sm:px-16;
}
.paddingY {
  @apply py-6 sm:py-16;
}
.padding {
  @apply px-6 py-10 sm:px-16 sm:py-16;
}
.box-center {
  @apply flex items-center justify-center;
}
.link {
  @apply font-bold text-primary hover:underline;
}

.animate-updown-lg {
  animation: updown 6s linear infinite;
}
.animate-updown-sm {
  animation: updown2 4s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes updown2 {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* hero  */
.profile-picture::after {
  @apply z-0 absolute bg-[#f7f7f7] dark:bg-tertiary border-2 border-white dark:border-transparent shadow-card dark:shadow-none;
  content: "";
  bottom: 8px;
  left: 15%;
  height: 80%;
  width: 80%;
  border-radius: 72% 28% 52% 48% / 67% 38% 62% 33%;
  transform: rotate(30deg);
}

.profile-picture a div {
  display: none;
  align-items: center;
}
.profile-picture a:hover div {
  display: flex;
}

/* testimonials */
.testimonials .card {
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.testimonials .outer:hover .card {
  animation-play-state: paused;
}
.testimonials .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
.testimonials .card .content {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.testimonials .card .img img {
  object-fit: cover;
}
.testimonials .card .details {
  margin-left: 80px;
}
.details span {
  font-weight: 600;
  font-size: 18px;
}
.testimonials .card a {
  transition: all 0.3s ease;
  padding: 5px 15px;
}
.testimonials .card a:hover {
  transform: scale(0.94);
}

/* swiper default style  */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply p-2 text-xl rounded-full text-writing dark:text-white bg-light/30 shadow-neomorphism dark:shadow-none dark:bg-dark/30 backdrop-blur-xl;
}
.swiper-button-prev,
.swiper-button-next {
  top: 40%;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-primary;
}

/* .social-icons */
.social-icons {
  flex-wrap: wrap;
  row-gap: 10px;
}

.social-icons a {
  background: #ecf0f3;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.social-icons a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.social-icons a svg {
  position: relative;
  z-index: 3;
}

/* service-card */
.service-card .description {
  @apply transition-all;
}
.service-card:hover .description {
  @apply mb-1 transition-all opacity-100 bottom-[110px];
}
